body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #ff5722;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a.nav-item,
.sidebar ul li a:hover {
  background-color: #e64a19;
}

.content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-info span {
  margin-right: 10px;
}

.user-info img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

main {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 0 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .user-info img {
    width: 25px;
    height: 25px;
  }

  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    display: none;
  }

  .content {
    flex: 1;
    padding: 10px;
  }

  header {
    justify-content: space-between;
  }

  th,
  td {
    padding: 6px;
  }
}